/*** min-width 1200px */
/***********************************************************/
@media screen and (min-width: 1200px) {
    .header-burger, .header-burger-x {
        display: none;
    }

    /*min width 1200px*/
}

/*** min-width 992px */
/***********************************************************/
@media screen and (min-width: 992px) {

    /*min width 992px*/
}


/*** min-width 768px */
/***********************************************************/
@media screen and (min-width: 768px) {


    /*min width 768px*/
}

/*** min-width 577px */
/***********************************************************/
@media screen and (min-width: 577px) {

    /*min width 577px*/
}


/*** max-width 1199px */
/***********************************************************/
@media screen and (max-width: 1199px) {

    /*media menu*/
    .header nav {
        position: fixed;
        background: rgba(26, 17, 114, .9);
        left: 0;
        flex-direction: column;
        z-index: 2;
        width: 100%;
        padding: 50px;
        overflow: auto;
        tab-index: 9;
        top: 0;
        height: 100%;
        justify-content: flex-start;
        transform: translateX(-100%);
        transition: all .3s ease-in-out;
    }

    .header nav.active {
        transform: translateX(0);
    }


    .main-nav {
        flex-direction: column;
        align-items: center;
    }
    .main-nav-item {
        display: block;
        width: 100%;
        text-align: center;
    }
    .main-nav-sub-menu {
        width: 100%;
        border-radius: 10px;
        z-index: 1;
    }

    .header-middle-wrap {
        order: 0;
    }

    .main-nav-wrap {
        order: 1;
        text-align: center;
    }

    .main-nav-wrap nav {
        display: none;
    }

    header.active .header-middle-wrap {
        padding-bottom: 250px;

    }

    header.active .main-nav-wrap nav {
        display: block;
    }

    /*media menu*/
    .new-footer-text {
        padding-right: 0;
        text-align: justify;
    }

    .new-top-text {
        padding-right: 0;
    }

    /*max width 1199px*/

}

/*** max-width 991px */
/***********************************************************/
@media screen and (max-width: 991px) {
    .site-footer .footer .fbody {
        display: flex;
    }

    .tour-img > img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    .tour-block {
        width: 100%;
    }

    .tour-block + .tour-block {
        margin-top: 30px;
    }

    .main-block {
        flex-direction: column;
    }

    .site-container__main .main-body .rside {
        width: 100%;
        float: none
    }

    .site-container__main .main-body .lside {
        width: 100%;
        float: none;
    }

    .main-body {
        display: flex;
        flex-direction: column;
    }

    .hotel-img > h4 {
        margin-top: 40px;
    }

    .hotel-text > h3 {
        margin-top: 40px;
    }

    .container-hotel {
        margin-bottom: 100px;
    }

    .media-hotels {
        padding-left: 0;
        margin-bottom: 30px;
    }

    .new-footer {
        flex-direction: column;
    }

    .new-footer-text {
        padding-right: 0;
        margin-top: 30px;
    }

    .new-top-text {
        padding-right: 0;
    }

    .new-img {
        margin: 0 auto;
    }

    .tour-main-img {
        text-align: center;
    }

    .tour-main-img p {
        text-align: justify;
    }

    .tour-main-img > img {
        float: none;
        margin: 0;
    }

    .tour-main > h2 {
        text-align: center;
    }

    .tarns-title {
        text-align: center;
    }

    .trans-main {
        flex-direction: column;
    }

    .section-text > p {
        text-align: justify;
    }

    .tourse-table-dunyo p {
    }

    .tours-txt > h4 {
        text-align: center;
    }

    .trans-main-text > p {
        padding-left: 0;
    }

    /*max width 991px*/

}

/*** max-width 767px */
/***********************************************************/
@media screen and (max-width: 767px) {

    .hotels-main > h2 {
        text-align: center;
    }

    .media-hotels {
        padding: 0;
        text-align: center;
    }

    .hotels-text {
        text-align: center;
    }

    .description {
        text-align: justify;
    }

    .hotel-img {
        text-align: center;
    }

    .hotel-img > h4 {
        margin-top: 40px;

    }

    .hotel-text > h4 {
        margin-top: 40px;
    }

    .container-hotel {
        margin-bottom: 100px;
    }

    .hotel-text {
        text-align: center;
    }

    .hotel-txt {
        text-align: justify;
    }

    .hotel-btn-wrap {
        text-align: center;
    }

    .site-footer .footer .fbottom {
        flex-direction: column;
        text-align: center;
    }

    .fbottom__text {
        margin-bottom: 15px;
    }

    .site-footer .footer .fbody__smm ul {
        display: flex;
        justify-content: center;
    }

    .site-footer .footer .fbody__menu ul:last-child {
        margin-right: 0;
    }

    .fbody {
        flex-direction: column;
    }

    .site-footer .footer .fbody__menu {
        justify-content: center;
    }

    .fbody__smm {
        text-align: center;
    }

    .site-footer .footer .fbody__smm div {
        margin-right: 0;
    }

    .par__tit, .news__tit, .rside__about-tit {
        text-align: center;
    }

    .site-container__main .main-body .rside .news__body .ac__img {
        width: 320px;
        margin: 0 auto 15px;
    }

    .site-container__main .main-body .rside .news__body .ac {
        width: 100%;
        margin-bottom: 30px;
    }

    .site-container__main .main-body .rside .news__body .pas {
        width: 100%;
        text-align: center;
    }

    .site-container__main .main-body .rside .news__body .pas__body-img {
        margin: 0 auto 15px;
    }

    .news__body {
        flex-direction: column;
    }

    .contacts-main {
        flex-direction: column;
    }

    .container-main > h2 {
        text-align: center;
    }

    .contacts-main > img {
        margin: 50px auto;
    }

    .contacts-text {
        padding: 0;
        margin-top: 0;
        margin: 20px auto;
    }

    .new-top .new-top-date {
        text-align: center;
    }

    .new-top {
        text-align: center;
    }

    .new-top-text {
        text-align: justify;
    }

    .section-text > h4 {
        text-align: center;
    }

    .section-text {
        text-align: center;
    }

    .gallery-title > h4 {
        text-align: center;
    }

    .gallery-title > h2 {
        text-align: center;
    }

    /*max width 767px*/

}


/*** max-width 576px */
/***********************************************************/
@media screen and (max-width: 576px) {
    /*max width 576px*/
    .section {
        /*padding-left: 0;*/
        /*padding-right: 0;*/
    }

    .header nav {
        padding-left: 15px;
        padding-right: 15px;
    }

    .media-hotels {
        padding: 0;
        text-align: center;
    }

    .hotels-text {
        text-align: center;
    }

    .contacts-main {
        flex-direction: column;
    }

    .container-main > h4 {
        text-align: center;
    }

    .contacts-main > img {
        margin: 20px auto;
    }

    .contacts-text {
        padding: 0;
        margin-top: 0;
        margin: 20px auto;
    }

    .hotel-img > h4 {
        margin-top: 40px;
    }

    .hotel-text > h4 {
        margin-top: 40px;
    }

    .container-hotel {
        margin-bottom: 100px;
    }

    .hotel-img {
        text-align: center;
    }

    .hotel-text {
        text-align: center;
    }

    .hotel-txt {
        text-align: justify;
    }

    .description {
        text-align: justify;
        padding: 0 15px;
    }

    .hotels-main > h4 {
        text-align: center;
    }

    .news-main > h2 {
        text-align: center;
    }

    .new-top .new-top-date {
        text-align: center;
    }

    .new-top {
        text-align: center;
    }

    .new-top-text {
        text-align: justify;
    }

    .gallery-title > h4 {
        text-align: center;
    }

    .news-main-img {
        text-align: center;
    }

    .news-text-date {
        text-align: center;
    }

    .contacts-main > img {
        margin: 50px auto;
    }
}


/*** max-width 480px */
/***********************************************************/
@media screen and (max-width: 480px) {
    .contacts-main > img {
        margin: 50px auto;
    }

    .hotel-img > h4 {
        margin-top: 40px;
    }

    .hotel-text > h4 {
        margin-top: 40px;
    }

    .container-hotel {
        margin-bottom: 100px;
    }

    .hotel-img {
        text-align: center;
    }

    .hotel-text {
        text-align: center;
    }

    .hotel-txt {
        text-align: justify;
    }

    .icon1 {
        transform: translateX(250px);
    }

    .icon2 {
        transform: translateX(190px);
    }

    .gallery-title > h4 {
        text-align: center;
    }

    .news-main-img {
        text-align: center;
    }

    .news-text-date {
        text-align: center;
    }

    .icon1 {
        right: 265px;
    }

    /*max width 480px*/

}

