@font-face{
    font-family: "RobotoSlab";
    src : url("../fonts/RobotoSlab/RobotoSlab-Regular.ttf") format('ttf');
}
/************
**  clear css**
*********/
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-bottom{
    margin-bottom: 90px;
}
p {
    margin-bottom: 0;
}
a {
    color: inherit;
}

.cur-p {
    cursor: pointer;
}

h1, h2, h3, h4 , h5, h6{
    margin: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 16px;
}


.txt-editor ul{
    list-style: initial;
    padding-left: 10px;

}
.txt-editor h1,
.txt-editor h2,
.txt-editor h3,
.txt-editor h4,
.txt-editor h5,
.txt-editor h6 {
    margin-bottom: 15px;
}
.txt-editor p {
    margin-bottom: 10px;
}
img {
    max-width: 100%;

}
/*header*/
.bg-cover {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.header-btn-booking-wrap {
    text-align: center;
    transform: translateY(-50%);
    z-index: 1;
    position: relative;
}

/*******| start body |************/
body {
    font-family: 'RobotoSlab', sans-serif;
    font-size: 16px;
    color: #787878;
    line-height: 30px;
}
/******* | end body |***********/

/**********| About |***********/
.site-header-banner {
    background-image: url("../img/banner-bg.png");
    height: 300px;
}
.section-text > h2{
    margin-top: 50px;
}
.section img{
    margin-top: 40px;
    border-radius: 15px;
    width: 1110px;
    height: 340px;
    object-fit: cover;
}
.section-text > p{
    margin-top: 40px;
    line-height: 30px;
}

.lsearch {
    position: relative;
}
.lsearch button {
    position: absolute;
    background: transparent;
    border: none;
    right: 10px;
}
/**********| end About |***********/

/**********| Hotel |***********/
.hotel-img > h2{
    margin-top: 40px;
}
.hotel-img > img{
    width: 350px;
    height: 300px;
    margin-top: 50px ;
    object-fit: cover;
    border-radius: 19px;
}
.hotel-txt{
    line-height: 25px;
}
.hotel-text > h3{
    margin-top: 180px;
}
.hotel-btn-wrap{
    text-align: right;
    margin-top: 40px;
}
.hotel-text-phon{
    display: flex;

    margin-top: 40px;
    margin-bottom: 40px;
}
.hotel-text-phon div:nth-child(2){
    margin-left: 40px;
}
.hotel-text-phon span{
    color: #0211bb;
}
.hotel-text-phon p{
    margin-top: 20px;
}
.hotel-text-phon:nth-child(2){
    padding-left: 10px;
}
/**********| end Hotel |***********/

/**********| Hotels |***********/
.main-pnt{
    margin-bottom: 90px;
}
.hotels-main > div{
    padding: 20px 0;
}
.hotels-main > h2{
    margin-top: 35px;
    margin-bottom: 35px;
}
.description{
    margin-bottom: 40px;
}
/*.hotels-text{*/
    /*padding-left: 0;*/
/*}*/
.hotels-text div > a{
    color: #2c9f49;
    text-transform: uppercase;
    text-decoration: none;
}
.description{
    margin-top: 40px;
}
.hotels-icon{
    transform: rotate(-90deg);
    color: #2c9f49;
}
.svg svg path{
    fill: #03932b;
}
.svg-icon{
    margin-bottom: 10px;
}
.media-hotels > img{
    object-fit: cover;
    border-radius: 19px;
    width: 300px;
    height: 250px;
}
/**********| end Hotels |***********/

/**********| News |***********/

/*.news-main .row +  .row {    news-main .row dan keyin yana row kelsa 40px joy tashla*/
    /*margin-top: 40px;*/
/*}*/
.news-main > div{
    margin-top: 40px;
}
.news-date{
    color:#03932b;
    font-family: "Proxima Nova";
    font-size: 14px;
}
.description{
    color: #787878;
    font-family: "Proxima Nova";
    font-size: 16px;
}
.news-text-date{
    margin-top: 30px;
}
.news-text-date > h3{
    margin-top: 12px;
}
.news-text-date > p{
    margin-top: 20px;
}
.news-img{
    height: 200px;
    width: 240px;
    object-fit: cover;
    border-radius: 19px;
}
.news-main-footer{
    text-align: center;
    color: #03932b
}
.news-main-footer svg path{
    fill: #03932b
}
/**********| end News |***********/
i
/**********|  Tourse |***********/
.tourse-main{
    padding-bottom: 160px;
}
.tourse-main-dunyo{
    display: flex;
    color: #0211bb;
    margin-top: 40px;
}
.icon1{
    position: absolute;
    right: 15px;
}
.tourse-table-dunyo{
    margin-top: 40px;
    position: relative;
}
.tourse-main-dunyo svg path{
    fill: #0539bb
}



.tourse-table-dunyo p{
    border-bottom: 1px solid #e8e7f1;
    padding-bottom: 20px;
    padding-top: 20px;
}

/**********| end Tourse |***********/

/**********| New |***********/
.new-main p{
    line-height: 25px;
}
.new-top-date > span{
    color: #03932b;
}
.new-top > img {
    width: 1110px;
    height: 340px;
    border-radius: 19px;
    margin-top: 40px;
    object-fit: cover;
}
.new-top .new-top-date{
    margin-top: 20px;
}
.new-top-text{
    margin-top: 40px;
    text-align: justify;
}
.new-footer > img {
    width: 485px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}
.new-footer{
    display: flex;
}
.new-img{
    margin-right: 40px;
}
.new-footer > p{
    padding-right: 110px;

}
.new-footer{
    margin-top: 40px;
}
.new-footer-text{
    text-align: justify;
}
/**********| end New |***********/

/**********| Tour |***********/
.tour-main p{
    line-height: 25px;
    text-align: justify;
    padding-top: 50px;
}
.tour-main-img > img{
    width: 484px;
    height: 340px;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 19px;
    object-fit: cover;
}



.tour-main-img{
    margin-top: 40px;
}
.tour-btn-wrap{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 90px;
}
/**********| end Tour |***********/

/**********| Transport |***********/
.trans-main{
    margin-top: 40px;
    display: flex;

}
.trans-main-text > p{
    padding-top: 40px;
    padding-left: 40px;
    line-height: 25px;
    text-align: justify;
}
.trans-main > img{
    border-radius: 19px;
    width: 480px;
    height: 340px;
    object-fit: cover;
}
.trans-btn-wrap{
    text-align: center;
    margin-top: 40px;
}
.home-logo__name, .home-logo__img {
    position: relative;
    z-index: 3;
}
/**********| end Transport |***********/

/**********| Contacts |***********/
.contacts-main > img{
    margin-top: 50px;
    width: 360px;
    height: 360px;
    object-fit: cover;
}
.contacts-main{
    display: flex;
}
.contacts-text{
    margin-top: 85px;
    padding-left: 45px;
    font-family: Proxima Nova;
}
.contacts-text span{
    color:#0211bb;
}
.contacts-main-wrap{
    margin-top: 30px;
}
.contact{
    margin-top: 40px;
}
.contacts-text div > p{
    margin-top: 20px;
}
.contact > p{
    font-size: 18px;
}
.contacts-main-wrap p{
    font-size: 16px;
}
/**********| end Contacts |***********/








/************
**  main nav **
*********/
.header {
    background-color: 	rgba(26,17,114,.4);
    position: relative;
    z-index: 2;
    min-height: 60px;

}
.main-nav {
    display: flex;
    color: #fff;
}
.main-nav-item {
    text-transform: uppercase;
    padding: 24px 14px;
    font-size: 14px;
    cursor: pointer;
    position: relative;

}

.main-nav-item:hover .main-nav-sub-menu{
    opacity: 1;
    visibility: visible;

}

.main-nav-item::before  {
    content: '';
    width: 100%;
    bottom: 0;
    left: 0;
    height: 7px;
    background-repeat: no-repeat;
    background-position:center center;
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
}

.main-nav-item:hover, .main-nav-item.active {
    color: #ffcb8f;

}

.main-nav-item.active::before, .main-nav-item:hover::before {
    background-image: url(../img/line.png);
}


.main-nav-sub-menu {
    position: absolute;
    top: 100%;
    background: #fff;
    border-radius: 0 0 10px 10px;
    padding: 30px;
    padding-top: 0;
    min-width: 230px;
    left: 0;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.main-nav-sub-menu li {
    color: #424242;
    font-weight: 400;
    text-transform: initial;
    margin-top: 30px;
    margin-left: 30px;
}

.main-nav-sub-menu li:hover {
    color: #03932b;
}
.toggle-button {
    position: absolute;
}

/*end main nav*/










/************
**  haeder middle **
*********/
.header-middle {
    position: absolute;
}
.header-middle-wrap {
    position: relative;
}
.header-middle-contact {
    background: rgba(63,56,131,.5);
    width: 200px;
    border-radius: 10px;
    padding: 155px 20px 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}
.header-logo {
    z-index: 1;
    position: relative;
}
.header-middle-contact-icon {
    margin-bottom: 15px;
}
.header-middle-contact-phone {
    color: #fff;
    font-size: 18px;
}
.header-middle-contact-phone > a{
    text-decoration: none;
}
.header-middle-contact-phone > a:hover{
    color: #ffcb8f;
}
/*end haeder middle*/

/*gallery*/
.gallery{
    margin-bottom: 90px;
    margin-top: 40px;
}
/*end gallery*/